<header class="flex flex-row bg-light-dark h-28">
  <nav class="flex flex-row my-10 gap-96">
    {# section logo/nav #}
    <section
      class="flex flex-row justify-center items-center ml-5 gap-20"
    >
      <a href="{{ path('showcase_index') }}">
        <img
          src="{{ asset('build/images/logo_white.svg') }}"
          alt="Facturo logo"
        />
      </a>
      <ul>
        <li class="flex items-start gap-10 text-white">
          <a href="{{ path('showcase_pricing') }}">Tarifs</a>
          <a href="{{ path('showcase_contact') }}">Contact</a>
        </li>
      </ul>
    </section>
    {# section login/register #}
    <section class="flex flex-row gap-10 items-center text-white">
      <a href="/">Se connecter</a>
      {% embed '_composants/buttons/_button.html.twig' %} {% block title %}
      Ouvrir un compte {% endblock %}{% endembed %}
    </section>
  </nav>
</header>
