<header class="flex flex-row bg-light-dark h-28">
  <nav class="flex flex-row my-10 gap-96">
    {# section logo/nav #}
    <section class="flex flex-row justify-center items-center ml-5 gap-20">
      <a href="{{ path('showcase_index') }}">
        <svg
          width="132"
          height="42"
          viewBox="0 0 132 42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.664 34V8.44H19.836V12.796H7.632V19.384H17.784V23.416H7.632V34H2.664ZM20.025 28.42C20.025 27.196 20.361 26.128 21.033 25.216C21.729 24.28 22.689 23.56 23.913 23.056C25.137 22.552 26.541 22.3 28.125 22.3C28.917 22.3 29.721 22.36 30.537 22.48C31.353 22.6 32.061 22.792 32.661 23.056V22.048C32.661 20.848 32.301 19.924 31.581 19.276C30.885 18.628 29.841 18.304 28.449 18.304C27.417 18.304 26.433 18.484 25.497 18.844C24.561 19.204 23.577 19.732 22.545 20.428L20.997 17.26C22.245 16.444 23.517 15.832 24.813 15.424C26.133 15.016 27.513 14.812 28.953 14.812C31.641 14.812 33.729 15.484 35.217 16.828C36.729 18.172 37.485 20.092 37.485 22.588V28.6C37.485 29.104 37.569 29.464 37.737 29.68C37.929 29.896 38.229 30.028 38.637 30.076V34C38.205 34.072 37.809 34.132 37.449 34.18C37.113 34.228 36.825 34.252 36.585 34.252C35.625 34.252 34.893 34.036 34.389 33.604C33.909 33.172 33.609 32.644 33.489 32.02L33.381 31.048C32.565 32.104 31.545 32.92 30.321 33.496C29.097 34.072 27.849 34.36 26.577 34.36C25.329 34.36 24.201 34.108 23.193 33.604C22.209 33.076 21.429 32.368 20.853 31.48C20.301 30.568 20.025 29.548 20.025 28.42ZM31.761 29.392C32.025 29.104 32.241 28.816 32.409 28.528C32.577 28.24 32.661 27.976 32.661 27.736V25.828C32.085 25.588 31.461 25.408 30.789 25.288C30.117 25.144 29.481 25.072 28.881 25.072C27.633 25.072 26.601 25.348 25.785 25.9C24.993 26.428 24.597 27.136 24.597 28.024C24.597 28.504 24.729 28.96 24.993 29.392C25.257 29.824 25.641 30.172 26.145 30.436C26.649 30.7 27.249 30.832 27.945 30.832C28.665 30.832 29.373 30.7 30.069 30.436C30.765 30.148 31.329 29.8 31.761 29.392ZM50.7769 34.36C49.2409 34.36 47.8609 34.108 46.6369 33.604C45.4129 33.076 44.3689 32.356 43.5049 31.444C42.6409 30.508 41.9689 29.452 41.4889 28.276C41.0329 27.1 40.8049 25.864 40.8049 24.568C40.8049 22.792 41.2009 21.172 41.9929 19.708C42.8089 18.22 43.9609 17.032 45.4489 16.144C46.9369 15.256 48.7009 14.812 50.7409 14.812C52.7809 14.812 54.5329 15.256 55.9969 16.144C57.4609 17.032 58.5529 18.196 59.2729 19.636L54.5569 21.076C54.1489 20.38 53.6089 19.852 52.9369 19.492C52.2649 19.108 51.5209 18.916 50.7049 18.916C49.7929 18.916 48.9529 19.156 48.1849 19.636C47.4409 20.092 46.8529 20.752 46.4209 21.616C45.9889 22.456 45.7729 23.44 45.7729 24.568C45.7729 25.672 45.9889 26.656 46.4209 27.52C46.8769 28.36 47.4769 29.032 48.2209 29.536C48.9649 30.016 49.7929 30.256 50.7049 30.256C51.2809 30.256 51.8209 30.16 52.3249 29.968C52.8529 29.776 53.3209 29.512 53.7289 29.176C54.1369 28.84 54.4369 28.456 54.6289 28.024L59.3449 29.464C58.9129 30.4 58.2769 31.24 57.4369 31.984C56.6209 32.728 55.6489 33.316 54.5209 33.748C53.4169 34.156 52.1689 34.36 50.7769 34.36ZM73.6172 33.028C73.2092 33.196 72.7172 33.388 72.1412 33.604C71.5652 33.82 70.9412 33.988 70.2692 34.108C69.6212 34.252 68.9612 34.324 68.2892 34.324C67.4012 34.324 66.5852 34.168 65.8412 33.856C65.0972 33.544 64.4972 33.052 64.0412 32.38C63.6092 31.684 63.3932 30.784 63.3932 29.68V18.844H60.9092V15.136H63.3932V9.016H68.2172V15.136H72.1772V18.844H68.2172V28.06C68.2412 28.708 68.4212 29.176 68.7572 29.464C69.0932 29.752 69.5132 29.896 70.0172 29.896C70.5212 29.896 71.0132 29.812 71.4932 29.644C71.9732 29.476 72.3572 29.332 72.6452 29.212L73.6172 33.028ZM75.9496 26.944V15.136H80.7736V25.9C80.7736 27.34 81.0376 28.432 81.5656 29.176C82.0936 29.896 82.8736 30.256 83.9056 30.256C84.5296 30.256 85.1416 30.136 85.7416 29.896C86.3656 29.632 86.9296 29.248 87.4336 28.744C87.9616 28.24 88.4056 27.604 88.7656 26.836V15.136H93.5896V28.6C93.5896 29.104 93.6736 29.464 93.8416 29.68C94.0336 29.896 94.3336 30.028 94.7416 30.076V34C94.2616 34.072 93.8536 34.12 93.5176 34.144C93.2056 34.192 92.9176 34.216 92.6536 34.216C91.7896 34.216 91.0816 34.024 90.5296 33.64C90.0016 33.232 89.6896 32.68 89.5936 31.984L89.4856 30.472C88.6456 31.744 87.5656 32.716 86.2456 33.388C84.9256 34.036 83.4736 34.36 81.8896 34.36C79.9456 34.36 78.4696 33.736 77.4616 32.488C76.4536 31.216 75.9496 29.368 75.9496 26.944ZM109.616 19.312C108.152 19.312 106.844 19.6 105.691 20.176C104.54 20.728 103.712 21.532 103.208 22.588V34H98.3835V15.136H102.812V19.168C103.484 17.872 104.336 16.852 105.368 16.108C106.4 15.364 107.492 14.956 108.644 14.884C108.908 14.884 109.112 14.884 109.256 14.884C109.4 14.884 109.52 14.896 109.616 14.92V19.312ZM120.771 34.36C119.235 34.36 117.855 34.108 116.631 33.604C115.407 33.076 114.363 32.356 113.499 31.444C112.659 30.532 112.011 29.488 111.555 28.312C111.099 27.136 110.871 25.9 110.871 24.604C110.871 23.284 111.099 22.036 111.555 20.86C112.011 19.684 112.659 18.64 113.499 17.728C114.363 16.816 115.407 16.108 116.631 15.604C117.855 15.076 119.235 14.812 120.771 14.812C122.307 14.812 123.675 15.076 124.875 15.604C126.099 16.108 127.143 16.816 128.007 17.728C128.871 18.64 129.519 19.684 129.951 20.86C130.407 22.036 130.635 23.284 130.635 24.604C130.635 25.9 130.407 27.136 129.951 28.312C129.519 29.488 128.871 30.532 128.007 31.444C127.167 32.356 126.135 33.076 124.911 33.604C123.687 34.108 122.307 34.36 120.771 34.36ZM115.839 24.604C115.839 25.708 116.055 26.692 116.487 27.556C116.919 28.396 117.507 29.056 118.251 29.536C118.995 30.016 119.835 30.256 120.771 30.256C121.683 30.256 122.511 30.016 123.255 29.536C123.999 29.032 124.587 28.36 125.019 27.52C125.475 26.656 125.703 25.672 125.703 24.568C125.703 23.488 125.475 22.516 125.019 21.652C124.587 20.788 123.999 20.116 123.255 19.636C122.511 19.156 121.683 18.916 120.771 18.916C119.835 18.916 118.995 19.168 118.251 19.672C117.507 20.152 116.919 20.824 116.487 21.688C116.055 22.528 115.839 23.5 115.839 24.604Z"
            fill="white"
          />
        </svg>
      </a>
      <ul>
        <li class="flex items-start gap-10 text-white">
          <a href="{{ path('showcase_pricing') }}">Tarifs</a>
          <a href="{{ path('showcase_contact') }}">Contact</a>
        </li>
      </ul>
    </section>
    {# section login/register #}
    <section class="flex flex-row gap-10 items-center text-white">
      <a href="/">Se connecter</a>
      {% embed '_composants/buttons/_button.html.twig' %} {% block title %}
      Ouvrir un compte {% endblock %}{% endembed %}
    </section>
  </nav>
</header>
