<div class="w-80 flex fixed flex-col inset-y-0	" style="background-color: #ff1212">
    <div class="pb-4 pt-2.5 px-6">
        <div class="flex  shrink-0 items-center">
            <div class="w-40 h-11 flex-col justify-start items-start gap-2 inline-flex">
                <div class="w-40 h-5 relative">
                    <img class="w-5 h-5 left-0 top-0 absolute rounded-full" src="https://via.placeholder.com/22x22" />
                    <div class="left-[30px] top-[3px] absolute text-stone-900 text-sm font-bold font-['Raleway']">Lemec PARDEFAUT</div>
                </div>
                <div class="justify-start items-start gap-1 inline-flex">
                    <div class="text-stone-500 text-xs font-bold font-['Raleway']">ESGI</div>
                    <div class="text-stone-500 text-xs font-medium font-['Raleway']">-</div>
                    <div class="text-stone-500 text-xs font-bold font-['Raleway']">Comptable</div>
                </div>
            </div>
        </div>

        <nav class="flex-col flex flex-1">
                <ul class="flex-col flex-1 flex gap-y-6" role="list">
                    <li>
                        <ul class="flex-col flex-1 flex gap-y-6 mx-2" role="list">
                            <li>
                                <a href="#" class="flex items-center gap-2 p-2 mt-4 font-semibold gap-x-3 text-sm leading-6	 text-white hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M10 3a1 1 0 00-1 1v1.586l-2.707-2.707a1 1 0 00-1.414 1.414l4 4a1 1 0
                                            001.414 0l4-4a1 1 0 10-1.414-1.414L11 5.586V4a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                        <path
                                            d="M4 8a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1z">
                                        </path>
                                    </svg>
                                    <span class="text-sm font-medium font-['Raleway']">Accueil</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center gap-2 p-2 mt-4 font-semibold gap-x-3 text-sm leading-6	 text-white hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M10 3a1 1 0 00-1 1v1.586l-2.707-2.707a1 1 0 00-1.414 1.414l4 4a1 1 0
                                            001.414 0l4-4a1 1 0 10-1.414-1.414L11 5.586V4a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                        <path
                                            d="M4 8a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1z">
                                        </path>
                                    </svg>
                                    <span class="text-sm font-medium font-['Raleway']">Devis</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center gap-2 p-2 mt-4 font-semibold gap-x-3 text-sm leading-6	 text-white hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M10 3a1 1 0 00-1 1v1.586l-2.707-2.707a1 1 0 00-1.414 1.414l4 4a1 1 0
                                            001.414 0l4-4a1 1 0 10-1.414-1.414L11 5.586V4a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                        <path
                                            d="M4 8a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1z">
                                        </path>
                                    </svg>
                                    <span class="text-sm font-medium font-['Raleway']">Facturation</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center gap-2 p-2 mt-4 font-semibold gap-x-3 text-sm leading-6	 text-white hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M10 3a1 1 0 00-1 1v1.586l-2.707-2.707a1 1 0 00-1.414 1.414l4 4a1 1 0
                                            001.414 0l4-4a1 1 0 10-1.414-1.414L11 5.586V4a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                        <path
                                            d="M4 8a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1z">
                                        </path>
                                    </svg>
                                    <span class="text-sm font-medium font-['Raleway']">Mes Offres</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center gap-2 p-2 mt-4 font-semibold gap-x-3 text-sm leading-6	 text-white hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M10 3a1 1 0 00-1 1v1.586l-2.707-2.707a1 1 0 00-1.414 1.414l4 4a1 1 0
                                            001.414 0l4-4a1 1 0 10-1.414-1.414L11 5.586V4a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                        <path
                                            d="M4 8a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1z">
                                        </path>
                                    </svg>
                                    <span class="text-sm font-medium font-['Raleway']"></span>
                                </a>
                            </li>
                        </ul>

                    </li>

                </ul>

            </nav>

    </div>
</div>