@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
    body {
        background-color: #F6F5EF;
        font-family: 'Raleway', sans-serif;
    }
}

@layer components {
    .customBanner {
        background-image: url(../../images/banner_motif.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .customBackground {
        background-image: url(../../images/backgroundmotif.jpg);
        background-repeat: no-repeat;
        background-size: auto;
    }

    .required::after {
        content: '*';
        color: #E64444;
        font-size: small;
        font-weight: 700;
        line-height: 89.811%; /* 0.78588rem */
    }
}