{% extends 'base.html.twig' %} {% block title %}Facturo{% endblock %} {% block
body %}

<main class="flex flex-col items-center justify-center p-10">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="256"
    height="256"
    viewBox="0 0 24 24"
  >
    <path
      fill="none"
      stroke="#16b70b"
      stroke-dasharray="24"
      stroke-dashoffset="24"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 11L11 17L21 7"
    >
      <animate
        fill="freeze"
        attributeName="stroke-dashoffset"
        dur="0.4s"
        values="24;0"
      />
    </path>
  </svg>
  <h1 class="text-2xl font-bold mb-4 text-gray-900">
    Votre réponse à bien été prise en compte.
  </h1>
  <p>Merci de fermer cette page.</p>
</main>

{% endblock %}
