{% extends 'reset_password/base.html.twig' %}

{% block title %}Réinitialisation du mot de passe | Facturo{% endblock %}

{% block containerTitle %}Mot de passe oublié{% endblock %}

{% block body %}
    <p class="mt-4">
        Si l’e-mail renseigné est lié à un compte Facturo, un lien pour réinitialiser votre mot de passe à été envoyé.
    </p>
{% endblock %}
