
<h1>Bonjour,</h1>

<p>Cliquer sur le lien ci-dessous pour modifier votre mot de passe</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>L'équipe Facturo</p>
