{% extends 'reset_password/base.html.twig' %}

{% block title %}Réinitialisation du mot de passe | Facturo{% endblock %}

{% block containerTitle %}Réinitialisation du mot de passe{% endblock %}


{% block body %}
    <p class="mt-4">
        Votre mot de passe a été mis à jour avec succès.
    </p>
    <a href="{{ path('app_login') }}" class="mt-4 cursor-pointer w-full flex justify-center items-center gap-1.5 rounded bg-light-dark text-light-white dark:bg-light-dark font-bold h-12">
        Connexion
    </a>
{% endblock %}
