<header class="flex flex-row bg-light-dark h-7.125">
    <a href="{{ path('showcase_index') }}">
        {{ include('svg/Logo.svg.twig')}}
    </a>
    <nav class="flex flex-row text-light-white">
        <ul>
            <li>
                <a href="{{ path('showcase_pricing') }}">Tarifs</a>
                <a href="{{ path('showcase_contact') }}">Contact</a>
                <a href="#">Lien autre</a>
            </li>
        </ul>
    </nav>
</header>