<footer class="bg-light-white h-96 flex flex-col justify-between dark:bg-light-dark">
  <section class="mt-12 ml-12 flex flex-col">
    <nav class="inline-flex items-start justify-between">
      <a href="{{ path('showcase_index') }}">
        <svg
          width="132"
          height="42"
          viewBox="0 0 132 42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.664 34V8.44H19.836V12.796H7.632V19.384H17.784V23.416H7.632V34H2.664ZM20.025 28.42C20.025 27.196 20.361 26.128 21.033 25.216C21.729 24.28 22.689 23.56 23.913 23.056C25.137 22.552 26.541 22.3 28.125 22.3C28.917 22.3 29.721 22.36 30.537 22.48C31.353 22.6 32.061 22.792 32.661 23.056V22.048C32.661 20.848 32.301 19.924 31.581 19.276C30.885 18.628 29.841 18.304 28.449 18.304C27.417 18.304 26.433 18.484 25.497 18.844C24.561 19.204 23.577 19.732 22.545 20.428L20.997 17.26C22.245 16.444 23.517 15.832 24.813 15.424C26.133 15.016 27.513 14.812 28.953 14.812C31.641 14.812 33.729 15.484 35.217 16.828C36.729 18.172 37.485 20.092 37.485 22.588V28.6C37.485 29.104 37.569 29.464 37.737 29.68C37.929 29.896 38.229 30.028 38.637 30.076V34C38.205 34.072 37.809 34.132 37.449 34.18C37.113 34.228 36.825 34.252 36.585 34.252C35.625 34.252 34.893 34.036 34.389 33.604C33.909 33.172 33.609 32.644 33.489 32.02L33.381 31.048C32.565 32.104 31.545 32.92 30.321 33.496C29.097 34.072 27.849 34.36 26.577 34.36C25.329 34.36 24.201 34.108 23.193 33.604C22.209 33.076 21.429 32.368 20.853 31.48C20.301 30.568 20.025 29.548 20.025 28.42ZM31.761 29.392C32.025 29.104 32.241 28.816 32.409 28.528C32.577 28.24 32.661 27.976 32.661 27.736V25.828C32.085 25.588 31.461 25.408 30.789 25.288C30.117 25.144 29.481 25.072 28.881 25.072C27.633 25.072 26.601 25.348 25.785 25.9C24.993 26.428 24.597 27.136 24.597 28.024C24.597 28.504 24.729 28.96 24.993 29.392C25.257 29.824 25.641 30.172 26.145 30.436C26.649 30.7 27.249 30.832 27.945 30.832C28.665 30.832 29.373 30.7 30.069 30.436C30.765 30.148 31.329 29.8 31.761 29.392ZM50.7769 34.36C49.2409 34.36 47.8609 34.108 46.6369 33.604C45.4129 33.076 44.3689 32.356 43.5049 31.444C42.6409 30.508 41.9689 29.452 41.4889 28.276C41.0329 27.1 40.8049 25.864 40.8049 24.568C40.8049 22.792 41.2009 21.172 41.9929 19.708C42.8089 18.22 43.9609 17.032 45.4489 16.144C46.9369 15.256 48.7009 14.812 50.7409 14.812C52.7809 14.812 54.5329 15.256 55.9969 16.144C57.4609 17.032 58.5529 18.196 59.2729 19.636L54.5569 21.076C54.1489 20.38 53.6089 19.852 52.9369 19.492C52.2649 19.108 51.5209 18.916 50.7049 18.916C49.7929 18.916 48.9529 19.156 48.1849 19.636C47.4409 20.092 46.8529 20.752 46.4209 21.616C45.9889 22.456 45.7729 23.44 45.7729 24.568C45.7729 25.672 45.9889 26.656 46.4209 27.52C46.8769 28.36 47.4769 29.032 48.2209 29.536C48.9649 30.016 49.7929 30.256 50.7049 30.256C51.2809 30.256 51.8209 30.16 52.3249 29.968C52.8529 29.776 53.3209 29.512 53.7289 29.176C54.1369 28.84 54.4369 28.456 54.6289 28.024L59.3449 29.464C58.9129 30.4 58.2769 31.24 57.4369 31.984C56.6209 32.728 55.6489 33.316 54.5209 33.748C53.4169 34.156 52.1689 34.36 50.7769 34.36ZM73.6172 33.028C73.2092 33.196 72.7172 33.388 72.1412 33.604C71.5652 33.82 70.9412 33.988 70.2692 34.108C69.6212 34.252 68.9612 34.324 68.2892 34.324C67.4012 34.324 66.5852 34.168 65.8412 33.856C65.0972 33.544 64.4972 33.052 64.0412 32.38C63.6092 31.684 63.3932 30.784 63.3932 29.68V18.844H60.9092V15.136H63.3932V9.016H68.2172V15.136H72.1772V18.844H68.2172V28.06C68.2412 28.708 68.4212 29.176 68.7572 29.464C69.0932 29.752 69.5132 29.896 70.0172 29.896C70.5212 29.896 71.0132 29.812 71.4932 29.644C71.9732 29.476 72.3572 29.332 72.6452 29.212L73.6172 33.028ZM75.9496 26.944V15.136H80.7736V25.9C80.7736 27.34 81.0376 28.432 81.5656 29.176C82.0936 29.896 82.8736 30.256 83.9056 30.256C84.5296 30.256 85.1416 30.136 85.7416 29.896C86.3656 29.632 86.9296 29.248 87.4336 28.744C87.9616 28.24 88.4056 27.604 88.7656 26.836V15.136H93.5896V28.6C93.5896 29.104 93.6736 29.464 93.8416 29.68C94.0336 29.896 94.3336 30.028 94.7416 30.076V34C94.2616 34.072 93.8536 34.12 93.5176 34.144C93.2056 34.192 92.9176 34.216 92.6536 34.216C91.7896 34.216 91.0816 34.024 90.5296 33.64C90.0016 33.232 89.6896 32.68 89.5936 31.984L89.4856 30.472C88.6456 31.744 87.5656 32.716 86.2456 33.388C84.9256 34.036 83.4736 34.36 81.8896 34.36C79.9456 34.36 78.4696 33.736 77.4616 32.488C76.4536 31.216 75.9496 29.368 75.9496 26.944ZM109.616 19.312C108.152 19.312 106.844 19.6 105.691 20.176C104.54 20.728 103.712 21.532 103.208 22.588V34H98.3835V15.136H102.812V19.168C103.484 17.872 104.336 16.852 105.368 16.108C106.4 15.364 107.492 14.956 108.644 14.884C108.908 14.884 109.112 14.884 109.256 14.884C109.4 14.884 109.52 14.896 109.616 14.92V19.312ZM120.771 34.36C119.235 34.36 117.855 34.108 116.631 33.604C115.407 33.076 114.363 32.356 113.499 31.444C112.659 30.532 112.011 29.488 111.555 28.312C111.099 27.136 110.871 25.9 110.871 24.604C110.871 23.284 111.099 22.036 111.555 20.86C112.011 19.684 112.659 18.64 113.499 17.728C114.363 16.816 115.407 16.108 116.631 15.604C117.855 15.076 119.235 14.812 120.771 14.812C122.307 14.812 123.675 15.076 124.875 15.604C126.099 16.108 127.143 16.816 128.007 17.728C128.871 18.64 129.519 19.684 129.951 20.86C130.407 22.036 130.635 23.284 130.635 24.604C130.635 25.9 130.407 27.136 129.951 28.312C129.519 29.488 128.871 30.532 128.007 31.444C127.167 32.356 126.135 33.076 124.911 33.604C123.687 34.108 122.307 34.36 120.771 34.36ZM115.839 24.604C115.839 25.708 116.055 26.692 116.487 27.556C116.919 28.396 117.507 29.056 118.251 29.536C118.995 30.016 119.835 30.256 120.771 30.256C121.683 30.256 122.511 30.016 123.255 29.536C123.999 29.032 124.587 28.36 125.019 27.52C125.475 26.656 125.703 25.672 125.703 24.568C125.703 23.488 125.475 22.516 125.019 21.652C124.587 20.788 123.999 20.116 123.255 19.636C122.511 19.156 121.683 18.916 120.771 18.916C119.835 18.916 118.995 19.168 118.251 19.672C117.507 20.152 116.919 20.824 116.487 21.688C116.055 22.528 115.839 23.5 115.839 24.604Z"
            fill="#1C1C1A"
          />
        </svg>
      </a>
      <ul class="mr-12">
        <li class="flex items-start gap-24 text-light-dark dark:text-light-white">
          <a
            href="{{ path('showcase_pricing') }}"
            class="h-6 text-2xl font-bold leading-normal"
            >Nos offres</a
          >
          <a
            href="{{ path('showcase_contact') }}"
            class="h-6 text-2xl font-bold leading-normal"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
    <aside class="mt-8 w-80 h-6 inline-flex flex-col items-start gap-5">
      <h1 class="text-light-dark text-xl font-bold leading-norma dark:text-light-white">
        Abonnez-vous à notre newsletter
      </h1>
      {% embed '_composants/inputs/_inputFooter.html.twig' with {'inputType':
      'email', 'inputPlaceholder': 'E-mail', 'inputSize': '37'}%} {% endembed %}
    </aside>
  </section>
  <section class="flex flex-col items-center gap-4 mb-3 ">
    <aside class="flex items-center gap-14">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z"
          fill="#1C1C1A"
        />
      </svg>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.0281 2.00099C13.7578 1.99819 14.4876 2.00552 15.2171 2.02299L15.4111 2.02999C15.6351 2.03799 15.8561 2.04799 16.1231 2.05999C17.1871 2.10999 17.9131 2.27799 18.5501 2.52499C19.2101 2.77899 19.7661 3.12299 20.3221 3.67899C20.8305 4.17859 21.2239 4.78293 21.4751 5.44999C21.7221 6.08699 21.8901 6.81399 21.9401 7.87799C21.9521 8.14399 21.9621 8.36599 21.9701 8.58999L21.9761 8.78399C21.9939 9.51318 22.0015 10.2426 21.9991 10.972L22.0001 11.718V13.028C22.0026 13.7577 21.9949 14.4875 21.9771 15.217L21.9711 15.411C21.9631 15.635 21.9531 15.856 21.9411 16.123C21.8911 17.187 21.7211 17.913 21.4751 18.55C21.2247 19.2177 20.8312 19.8226 20.3221 20.322C19.8221 20.8303 19.2174 21.2237 18.5501 21.475C17.9131 21.722 17.1871 21.89 16.1231 21.94C15.8561 21.952 15.6351 21.962 15.4111 21.97L15.2171 21.976C14.4876 21.9938 13.7578 22.0014 13.0281 21.999L12.2821 22H10.9731C10.2434 22.0025 9.51361 21.9948 8.78409 21.977L8.59009 21.971C8.3527 21.9624 8.11536 21.9524 7.87809 21.941C6.81409 21.891 6.08809 21.721 5.45009 21.475C4.78277 21.2243 4.17833 20.8308 3.67909 20.322C3.17013 19.8223 2.77631 19.2175 2.52509 18.55C2.27809 17.913 2.11009 17.187 2.06009 16.123C2.04895 15.8857 2.03895 15.6484 2.03009 15.411L2.02509 15.217C2.00665 14.4875 1.99832 13.7577 2.00009 13.028V10.972C1.9973 10.2426 2.00463 9.51318 2.02209 8.78399L2.02909 8.58999C2.03709 8.36599 2.04709 8.14399 2.05909 7.87799C2.10909 6.81299 2.27709 6.08799 2.52409 5.44999C2.77546 4.78261 3.17005 4.17843 3.68009 3.67999C4.17898 3.17074 4.78305 2.77656 5.45009 2.52499C6.08809 2.27799 6.81309 2.10999 7.87809 2.05999L8.59009 2.02999L8.78409 2.02499C9.51327 2.00656 10.2427 1.99823 10.9721 1.99999L13.0281 2.00099ZM12.0001 7.00099C11.3376 6.99162 10.6798 7.11401 10.0651 7.36105C9.45029 7.6081 8.89074 7.97486 8.41893 8.44004C7.94713 8.90522 7.57249 9.45952 7.31678 10.0707C7.06106 10.682 6.92938 11.3379 6.92938 12.0005C6.92938 12.663 7.06106 13.319 7.31678 13.9302C7.57249 14.5414 7.94713 15.0958 8.41893 15.5609C8.89074 16.0261 9.45029 16.3929 10.0651 16.6399C10.6798 16.887 11.3376 17.0094 12.0001 17C13.3262 17 14.5979 16.4732 15.5356 15.5355C16.4733 14.5978 17.0001 13.3261 17.0001 12C17.0001 10.6739 16.4733 9.40213 15.5356 8.46445C14.5979 7.52677 13.3262 7.00099 12.0001 7.00099ZM12.0001 9.00099C12.3986 8.99364 12.7946 9.06578 13.1649 9.21319C13.5352 9.3606 13.8724 9.58033 14.1569 9.85953C14.4413 10.1387 14.6673 10.4718 14.8215 10.8393C14.9758 11.2068 15.0553 11.6014 15.0554 12C15.0554 12.3986 14.9761 12.7931 14.8219 13.1607C14.6678 13.5283 14.4419 13.8614 14.1576 14.1407C13.8732 14.42 13.5361 14.6399 13.1658 14.7874C12.7955 14.9349 12.3996 15.0072 12.0011 15C11.2054 15 10.4424 14.6839 9.87977 14.1213C9.31716 13.5587 9.00109 12.7956 9.00109 12C9.00109 11.2043 9.31716 10.4413 9.87977 9.87867C10.4424 9.31606 11.2054 8.99999 12.0011 8.99999L12.0001 9.00099ZM17.2501 5.50099C16.9275 5.5139 16.6224 5.65114 16.3987 5.88396C16.175 6.11678 16.0501 6.42712 16.0501 6.74999C16.0501 7.07285 16.175 7.38319 16.3987 7.61601C16.6224 7.84884 16.9275 7.98607 17.2501 7.99899C17.5816 7.99899 17.8996 7.86729 18.134 7.63287C18.3684 7.39845 18.5001 7.08051 18.5001 6.74899C18.5001 6.41747 18.3684 6.09952 18.134 5.8651C17.8996 5.63068 17.5816 5.49899 17.2501 5.49899V5.50099Z"
          fill="#1C1C1A"
        />
      </svg>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.6002 5.82C15.9166 5.03962 15.5399 4.03743 15.5402 3H12.4502V15.4C12.4263 16.071 12.143 16.7066 11.6599 17.1729C11.1768 17.6393 10.5316 17.8999 9.86016 17.9C8.44016 17.9 7.26016 16.74 7.26016 15.3C7.26016 13.58 8.92016 12.29 10.6302 12.82V9.66C7.18016 9.2 4.16016 11.88 4.16016 15.3C4.16016 18.63 6.92016 21 9.85016 21C12.9902 21 15.5402 18.45 15.5402 15.3V9.01C16.7932 9.90985 18.2975 10.3926 19.8402 10.39V7.3C19.8402 7.3 17.9602 7.39 16.6002 5.82Z"
          fill="#1C1C1A"
        />
      </svg>
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_346_772)">
          <path
            d="M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z"
            fill="#1C1C1A"
          />
          <path
            d="M11.2573 8.93911L15.0675 4.51001H14.1646L10.8562 8.35573L8.21376 4.51001H5.16602L9.1619 10.3254L5.16602 14.97H6.06898L9.56277 10.9088L12.3533 14.97H15.4011L11.2573 8.93911ZM10.0205 10.3766L9.6157 9.79758L6.39433 5.18974H7.78121L10.3809 8.90841L10.7857 9.48749L14.165 14.3212H12.7781L10.0205 10.3766Z"
            fill="#F9F9F9"
          />
        </g>
        <defs>
          <clipPath id="clip0_346_772">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 15L15.19 12L10 9V15ZM21.56 7.17C21.69 7.64 21.78 8.27 21.84 9.07C21.91 9.87 21.94 10.56 21.94 11.16L22 12C22 14.19 21.84 15.8 21.56 16.83C21.31 17.73 20.73 18.31 19.83 18.56C19.36 18.69 18.5 18.78 17.18 18.84C15.88 18.91 14.69 18.94 13.59 18.94L12 19C7.81 19 5.2 18.84 4.17 18.56C3.27 18.31 2.69 17.73 2.44 16.83C2.31 16.36 2.22 15.73 2.16 14.93C2.09 14.13 2.06 13.44 2.06 12.84L2 12C2 9.81 2.16 8.2 2.44 7.17C2.69 6.27 3.27 5.69 4.17 5.44C4.64 5.31 5.5 5.22 6.82 5.16C8.12 5.09 9.31 5.06 10.41 5.06L12 5C16.19 5 18.8 5.16 19.83 5.44C20.73 5.69 21.31 6.27 21.56 7.17Z"
          fill="#1C1C1A"
        />
      </svg>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19 3C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19ZM18.5 18.5V13.2C18.5 12.3354 18.1565 11.5062 17.5452 10.8948C16.9338 10.2835 16.1046 9.94 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17C14.6813 12.17 15.0374 12.3175 15.2999 12.5801C15.5625 12.8426 15.71 13.1987 15.71 13.57V18.5H18.5ZM6.88 8.56C7.32556 8.56 7.75288 8.383 8.06794 8.06794C8.383 7.75288 8.56 7.32556 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19C6.43178 5.19 6.00193 5.36805 5.68499 5.68499C5.36805 6.00193 5.19 6.43178 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56ZM8.27 18.5V10.13H5.5V18.5H8.27Z"
          fill="#1C1C1A"
        />
      </svg>
    </aside>
    <p class="text-light-dark text-xs font-bold leading-normal dark:text-light-white">Copyright &#169; 2023-2024 Facturo. Tous droits réservés.</p>
  </section>
</footer>
