<form
  method="post"
  action="{{ path('app_prestation_delete', { id: prestation.id }) }}"
  onsubmit="return confirm('Voulez-vous supprimer cette prestation ?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ prestation.id) }}"
  />
  <button class="btn">Supprimer</button>
</form>
