{% extends 'showcase/base.html.twig' %}

{% block title %}Facturo{% endblock %}

{% block body %}
    {% include '_composants/headers/_header.html.twig' %}
    <section class="bg-beige h-96">
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste reiciendis nemo nihil inventore odit velit sit odio deserunt est quia, obcaecati ad deleniti nam, ullam fuga eos! Perferendis, quam necessitatibus.</div>
    </section>
    {#<section>
        <h1>Une unique solution, Une infinité de possibilités.</h1>
        <p>Un logiciel qui allie puissance et simplicité pour gérer vos devis, vos factures et vos clients sur une plateforme unique qui évolue au rythme de votre activité.</p>
        <div>
            <button>Ouvrir un compte gratuit</button>
            <button>Consulter nos offres -></button>
        </div>
    </section>
    <section>
        <h2>Gérer votre facturation n'aura jamais été aussi simple.</h2>
        <div>
            LOGO EFFICACITÉ
            <span>Efficacité</span>
            <p>Créez vos factures et vos devis de la plus rapide des manières : un simple clic.</p>
        </div>
        <div>
            LOGO ORGANISATION
            <span>Organisation</span>
            <p>Retrouvez toutes vos factures dans un unique espace. Accessible partout, n’importe quand.</p>
        </div>
        <div>
            LOGO VISION GLOBALE
            <span>Vision globale</span>
            <p>Ayez une vision globale de l’état de votre entreprise grâce à nos rapports financiers détaillés.</p>
        </div>
        <div>
            LOGO CLOISONNEMENT
            <span>Cloisonnement</span>
            <p>Donnez un accès restreint aux personnes ayant besoin d’accéder à certaines données (brouillon mdr)</p>
        </div>
    </section>
    <section>
        <div>
            PHOTO CARD
            <p>« Facturo me permet de consacrer le minimum de temps à mes factures, de quoi mettre toute mon énergie dans mes sites internet. »</p>
            <span>Bertrand - CEO de Monsupersite.fr</span>
        </div>
        <h2>Dépensez votre temps pour ce qui compte vraiment.</h2>
        <span>Création de devis personnalisé</span>
        <p>Texte</p>
        <span>Relance de factures</span>
        <p>Texte</p>
        <button>Ouvrir un compte</button>
    </section>
    <section>
        <div>
            BANNIERE COLORÉE
        </div>
        <button>Découvrir nos offres -></button>
    </section>
    <section>
        <h2>Plus de 184 000 clients nous font confiance pour soutenir leur croissance</h2>
        <div>
            PHOTO CARD
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco ugu poao tus tatos vas abano vui.</p>
            <button>En savoir plus -></button>
        </div>
        <div>
            PHOTO CARD
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco ugu poao tus tatos vas abano vui.</p>
            <button>En savoir plus -></button>
        </div>
    </section>
    <section>
        <h2>Tout est prêt, il ne manque plus que vous.</h2>
        <button>Ouvrir un compte</button>
        <button>Consulter nos offres -></button>
    </section>
    <footer>
        Facturo
        <nav>
            <ul>
                <li>Nos offres</li>
                <li>Contact</li>
                <li>À propos</li>
            </ul>
        </nav>
        <div>
            Abonnez vous à notre newsletter
            <input type="email" placeholder="E-mail">
        </div>
        <ul>
            <li>FACEBOOK</li>
            <li>LINKEDIN</li>
            <li>INSTAGRAM</li>
            <li>X</li>
            <li>YOUTUBE</li>
            <li>TIKTOK</li>
        </ul>
        <span>&copy; 2024 Facturo Co.</span>
    </footer>#}
{% endblock %}
