{% extends 'base.html.twig' %} {% block title %}Facturo{% endblock %}
{% block body %} {% include '_composants/headers/_header.html.twig' %}
<main>
  <article class="bg-beige h-114 flex justify-between">
    <section class="mt-24 ml-20">
      <div class="w-110 h-52 mb-48">
        <h1 class="font-bold text-4xl leading-10 h-20 w-102 mb-2">
          Une unique solution. <br />
          Une infinité de possibilités.
        </h1>
        <p class="w-109 h-28 leading-7 text-2xl font-medium">
          Un logiciel qui allie puissance et simplicité pour gérer vos devis,
          vos factures et vos clients sur une plateforme unique qui évolue au
          rythme de votre activité digitale.
        </p>
      </div>
      <div class="flex gap-6">
        {% embed '_composants/buttons/_button.html.twig' with {'buttonColor':
        'bg-black','buttonTextColor': 'text-light-white','textButton': 'Créer un
        compte gratuit','arrowButton': false}%} {% endembed %} {% embed
        '_composants/buttons/_button.html.twig' with {'buttonColor':
        'bg-electric-blue','buttonTextColor': 'text-light-white','textButton':
        'Consulter nos offres','arrowButton': true, 'buttonLink':
        'showcase_pricing'}%} {% endembed %}
      </div>
    </section>
    <section class="mt-24 mr-20 w-102 h-103">
      <img
        src="{{ asset('build/images/banner_man.jpg') }}"
        alt="Mec bannière début"
      />
    </section>
  </article>
  <article class="flex flex-col bg-light-dark h-103 items-center">
    <h1 class="h-1 font-bold text-4xl text-white leading-10 my-20 self-center">
      Gérer votre facturation n'aura jamais été aussi simple
    </h1>
    <section class="flex mx-20 mb-20 gap-20">
      {% include '_composants/advantages/_efficiency.html.twig' %} {% include
      '_composants/advantages/_organisation.html.twig' %} {% include
      '_composants/advantages/_vision.html.twig' %} {% include
      '_composants/advantages/_partitioning.html.twig' %}
    </section>
  </article>
  <article class="bg-beige flex justify-center h-120">
    <section class="mt-28 mb-32 flex">
      {% embed '_composants/cards/_card.html.twig' with {'cardShadow':
      'shadow-custom-beige', 'pictureName': 'ceo_card.jpg', 'pictureHeight':
      '388px', 'paragraphCard': '« Facturo me permet de consacrer le minimum de
      temps à mes factures, de quoi mettre toute mon énergie dans mes sites
      internet. »', 'subtitleCard': 'Bertrand - CEO de Monsupersite.fr'} %}{%
      endembed %}
      <aside class="ml-36 pl-8 border-l border-light-dark">
        <h1 class="w-105 mb-8 text-black text-4xl font-bold leading-normal">
          Dépensez votre temps pour ce qui compte vraiment.
        </h1>
        <div class="border-b border-light-dark w-7 mb-10">
          <h2 class="text-black text-2xl font-bold leading-normal">
            Création de devis personnalisé
          </h2>
          <p
            class="w-22.125 h-4.625 text-black text-sm font-bold leading-normal mb-10"
          >
            Texte super long de fou qui parle de création de devis etc; Texte
            super long de fou qui parle de création de devis etc; Texte super
            long de fou qui parle de création de devis etc;
          </p>
        </div>
        <h1 class="text-black text-2xl font-bold leading-normal">
          Relance de factures
        </h1>
        <p
          class="w-22.125 h-4.625 text-black text-sm font-bold leading-normal mb-6"
        >
          Texte super long de fou qui parle de création de devis etc; Texte
          super long de fou qui parle de création de devis etc; Texte super long
          de fou qui parle de création de devis etc;
        </p>
        {% embed '_composants/buttons/_button.html.twig' with {'buttonColor':
        'bg-black','buttonTextColor': 'text-light-white','textButton': 'Ouvrir
        un compte','arrowButton': true}%} {% endembed %}
      </aside>
    </section>
  </article>
  <article
    class="h-64 flex justify-center items-center"
    style="background-image:url('{{ asset('build/images/banner_motif.jpg') }}')"
  >
    {% embed '_composants/buttons/_button.html.twig' with {'buttonColor':
    'bg-white','buttonTextColor': 'text-light-dark','textButton': 'Découvrir nos
    offres','arrowButton': true,'arrowColor': "#1C1C1A", 'buttonLink':
    'showcase_pricing'}%} {% endembed %}
  </article>
  <article class="h-122 bg-lilac flex flex-col items-center">
    <h1 class="w-118 text-4xl font-bold leading-normal mt-12">
      Plus de 184 000 clients nous font confiance pour soutenir leur croissance
    </h1>
    <section class="mt-16 flex gap-40">
      {% embed '_composants/cards/_card.html.twig' with {'cardShadow':
      'shadow-custom-purple', 'pictureName': 'two_woman_card.jpg', 'titleCard':
      'Titre carte','paragraphCard': 'Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      ugu poao tus tatos vas abano vui.', 'linkCard': 'En savoir plus'} %}{%
      endembed %} {% embed '_composants/cards/_card.html.twig' with
      {'cardShadow': 'shadow-custom-purple', 'pictureName': 'team_card.jpg',
      'titleCard': 'Titre carte', 'paragraphCard': 'Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco ugu poao tus tatos vas abano vui.', 'linkCard': 'En savoir plus'}
      %}{% endembed %}
    </section>
  </article>
  <article class="bg-light-dark h-72 flex flex-col items-center">
    <h1 class="text-light-white text-4xl font-bold leading-normal mt-12">
      Tout est prêt, il ne manque plus que vous.
    </h1>
    <section class="flex gap-10 mt-16">
      {% embed '_composants/buttons/_button.html.twig' with {'textButton':
      'Ouvrir un compte','arrowButton': false}%} {% endembed %} {% embed
      '_composants/buttons/_button.html.twig' with {'buttonColor':
      'bg-electric-blue','buttonTextColor': 'text-light-white','textButton':
      'Consulter nos offres','arrowButton': true, 'buttonLink':
      'showcase_pricing'}%} {% endembed %}
    </section>
  </article>
</main>
{% include '_composants/footers/_footer.html.twig' %} {% endblock %}
