{% extends 'base.html.twig' %} {% block title %}Facturo{% endblock %} {% block
body %} {% include '_composants/headers/_header.html.twig' %}
<main>
  <article class="bg-beige flex flex-col xl:h-114">
    <h1
      class="mt-3 ml-4 mb-5 text-light-dark text-2xl font-bold leading-normal xl:text-4xl xl:ml-20 xl:mt-24"
    >
      Une unique solution. <br />
      Une infinité de possibilités.
    </h1>
    <section class="mx-4 mb-5 inline-flex justify-between xl:mx-20">
      <p
        class="text-light-dark text-lg font-medium leading-normal w-109 xl:text-2xl"
      >
        Un logiciel qui allie puissance et simplicité pour gérer vos devis, vos
        factures et vos clients sur une plateforme unique qui évolue au rythme
        de votre activité digitale.
      </p>
      <img
        class="w-80 h-96 xl:w-102 xl:h-103 xl:-mt-24"
        src="{{ asset('build/images/banner_man.jpg') }}"
        alt="Mec bannière début"
      />
    </section>
    <section
      class="flex flex-col mx-4 mb-12 gap-2 xl:flex-row xl:ml-20 xl:-mt-28 xl:mb-32"
    >
      {% embed '_composants/buttons/_button.html.twig' with {'buttonColor':
      'bg-black','buttonTextColor': 'text-light-white','textButton': 'Créer un
      compte gratuit','arrowButton': false}%} {% endembed %} {% embed
      '_composants/buttons/_button.html.twig' with {'buttonColor':
      'bg-electric-blue','buttonTextColor': 'text-light-white','textButton':
      'Consulter nos offres','arrowButton': true, 'buttonLink':
      'showcase_pricing'}%} {% endembed %}
    </section>
  </article>
  <article
    class="flex flex-col gap-8 bg-light-dark px-20 py-10 items-center xl:py-0 xl:px-0"
  >
    <h1 class="font-bold text-4xl text-light-white leading-normal xl:my-20">
      Gérer votre facturation n'aura jamais été aussi simple
    </h1>
    <section
      class="flex justify-center items-start content-start flex-wrap gap-y-7 gap-x-16 xl:mb-20 xl:gap-20"
    >
      {% include '_composants/advantages/_efficiency.html.twig' %} {% include
      '_composants/advantages/_organisation.html.twig' %} {% include
      '_composants/advantages/_vision.html.twig' %} {% include
      '_composants/advantages/_partitioning.html.twig' %}
    </section>
  </article>
  <article
    class="bg-beige flex flex-col items-center gap-10 px-4 py-10 xl:h-120 xl:flex-row xl:justify-center"
  >
    {% embed '_composants/cards/_card.html.twig' with {'cardShadow':
    'shadow-custom-beige', 'pictureName': 'ceo_card.jpg', 'pictureHeight':
    '388px', 'paragraphCard': '« Facturo me permet de consacrer le minimum de
    temps à mes factures, de quoi mettre toute mon énergie dans mes sites
    internet. »', 'subtitleCard': 'Bertrand - CEO de Monsupersite.fr'} %}{%
    endembed %}
    <hr class="border border-light-dark h-106 ml-28 mr-8 hidden xl:block" />
    <section class="flex flex-col gap-10 xl:gap-0">
      <h1
        class="text-light-dark text-2xl font-bold leading-normal mb-8 xl:text-4xl xl:w-102"
      >
        Dépensez votre temps pour ce qui compte vraiment.
      </h1>
      <section class="xl:mb-10">
        <h1 class="text-black text-2xl font-bold leading-normal">
          Création de devis personnalisé
        </h1>
        <p
          class="w-22.125 h-4.625 text-black text-sm font-bold leading-normal mb-5"
        >
          Texte super long de fou qui parle de création de devis etc; Texte
          super long de fou qui parle de création de devis etc; Texte super long
          de fou qui parle de création de devis etc;
        </p>
      </section>
      <hr class="border border-light-dark" />
      <section class="xl:mt-10">
        <h1 class="text-black text-2xl font-bold leading-normal">
          Relance de factures
        </h1>
        <p
          class="w-22.125 h-4.625 text-black text-sm font-bold leading-normal mb-10"
        >
          Texte super long de fou qui parle de création de devis etc; Texte
          super long de fou qui parle de création de devis etc; Texte super long
          de fou qui parle de création de devis etc;
        </p>
        {% embed '_composants/buttons/_button.html.twig' with {'buttonColor':
        'bg-black','buttonTextColor': 'text-light-white','textButton': 'Ouvrir
        un compte','arrowButton': true}%} {% endembed %}
      </section>
    </section>
  </article>
  <article
    class="py-6 px-32 xl:h-64 xl:p-0 flex justify-center items-center customBanner"
  >
    {% embed '_composants/buttons/_button.html.twig' with {'buttonColor':
    'bg-white','buttonTextColor': 'text-light-dark','textButton': 'Découvrir nos
    offres','arrowButton': true,'arrowColor': "#1C1C1A", 'buttonLink':
    'showcase_pricing','buttonColorDarkMode': 'bg-light-white'}%} {% endembed %}
  </article>
  <article class="bg-lilac flex flex-col items-center py-10">
    <h1
      class="mb-16 w-80 font-bold text-xl leading-normal xl:w-118 xl:text-4xl"
    >
      Plus de 184 000 clients nous font confiance pour soutenir leur croissance
    </h1>
    <section class="flex flex-col gap-12 xl:flex-row xl:gap-40">
      {% embed '_composants/cards/_card.html.twig' with {'cardShadow':
      'shadow-custom-purple', 'pictureName': 'two_woman_card.jpg', 'titleCard':
      'Titre carte','paragraphCard': 'Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      ugu poao tus tatos vas abano vui.', 'linkCard': 'En savoir plus'} %}{%
      endembed %} {% embed '_composants/cards/_card.html.twig' with
      {'cardShadow': 'shadow-custom-purple', 'pictureName': 'team_card.jpg',
      'titleCard': 'Titre carte', 'paragraphCard': 'Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco ugu poao tus tatos vas abano vui.', 'linkCard': 'En savoir plus'}
      %}{% endembed %}
    </section>
  </article>
  <article
    class="bg-light-dark px-8 py-4 flex flex-col items-center justify-center xl:h-72"
  >
    <h1 class="text-light-white text-2xl font-bold leading-normal xl:text-4xl">
      Tout est prêt, il ne manque plus que vous.
    </h1>
    <section class="flex gap-4 mt-4 xl:gap-10 xl:mt-16">
      {% embed '_composants/buttons/_button.html.twig' with {'textButton':
      'Ouvrir un compte','arrowButton': false,'buttonColorDarkMode': 'bg-light-white'}%} {% endembed %} {% embed
      '_composants/buttons/_button.html.twig' with {'buttonColor':
      'bg-electric-blue','buttonTextColor': 'text-light-white','textButton':
      'Consulter nos offres','arrowButton': true, 'buttonLink':
      'showcase_pricing'}%} {% endembed %}
    </section>
  </article>
</main>
{% include '_composants/footers/_footer.html.twig' %} {% endblock %}
