{% extends 'base.html.twig' %} {% block title %}Facturo{% endblock %} {% block
body %} {% include '_composants/headers/_header.html.twig' %}
<main class="flex flex-col justify-center items-center">
  <section class="flex flex-col items-center gap-10 mt-16 mb-12 bg-none">
    <h1 class="text-light-dark text-3xl font-bold leading-normal">
      Comparaison de nos forfaits
    </h1>
    <div class="flex justify-center items-start gap-10">
      <p class="w-64 h-10 text-base font-medium leading-normal">
        Des forfaits adaptés pour tous vos besoins, quels que soit votre domaine
        digital.
      </p>
      <hr class="border border-light-dark h-20" />
      <p class="w-64 h-10 text-base font-medium leading-normal">
        Une hésitation ? Nos équipes vous répondent du lundi au vendredi pour
        vous apporter une aide personnalisée.
      </p>
    </div>
  </section>
  <article class="mb-52">
    {# Haut du tableau #}
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-light-dark px-3.5 py-10 w-64 flex items-center gap-3 self-end"
      >
        <p class="text-white text-base font-bold leading-normal">Avantages</p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-red-100 px-16 py-20 h-48 flex flex-col justify-center items-center gap-5"
      >
        <p class="text-light-dark text-2xl font-bold leading-normal">Minimal</p>
        <h1 class="text-light-dark text-4xl font-medium leading-7">49€ /an</h1>
        {% embed '_composants/buttons/_button.html.twig' with
        {'buttonColor':'bg-light-dark', 'buttonTextColor': 'text-light-white',
        'textButton': 'Choisir ce forfait'} %} {% endembed %}
      </div>
      {# Plan team #}
      <div
        class="bg-red-200 px-16 py-20 h-48 flex flex-col justify-center items-center gap-5"
      >
        <p class="text-light-dark text-2xl font-bold leading-normal">Team</p>
        <h1 class="text-light-dark text-4xl font-medium leading-7">149€ /an</h1>
        {% embed '_composants/buttons/_button.html.twig' with
        {'buttonColor':'bg-light-dark', 'buttonTextColor': 'text-light-white',
        'textButton': 'Choisir ce forfait'} %} {% endembed %}
      </div>
      {# Plan superior #}
      <div
        class="bg-red-300 px-16 py-20 h-48 flex flex-col justify-center items-center gap-5"
      >
        <p class="text-light-dark text-2xl font-bold leading-normal">
          Superior
        </p>
        <h1 class="text-light-dark text-4xl font-medium leading-7">249€ /an</h1>
        {% embed '_composants/buttons/_button.html.twig' with
        {'buttonColor':'bg-light-dark', 'buttonTextColor': 'text-light-white',
        'textButton': 'Choisir ce forfait'} %} {% endembed %}
      </div>
    </section>
    {# ligne d'avantages #}
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
    <section class="flex">
      {# Les avantages #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-64 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Titre de l'avantage
        </p>
      </div>
      {# Plan minimal #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 1
        </p>
      </div>
      {# Plan team #}
      <div
        class="bg-gray-200 border-b border-light-dark flex items-end gap-2.5 w-285.445 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 2
        </p>
      </div>
      {# Plan superior #}
      <div
        class="bg-white border-b border-light-dark flex items-end gap-2.5 w-288.852 h-32 py-16 px-5"
      >
        <p class="text-black text-base font-medium leading-normal">
          Avantage forfait 3
        </p>
      </div>
    </section>
  </article>
</main>
{% include '_composants/footers/_footer.html.twig' %} {% endblock %}
