{% extends 'base.html.twig' %}

{% block title %}Hello ChartjsController!{% endblock %}

    {% block body %}
        <div style="height: 300px;">
            {{ render_chart(chart) }}
        </div>
    {% endblock %}
