{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
        {{ button_label|default('Envoyer') }}
    </button>
{{ form_end(form) }}
