<div
  class="w-7 h-103 flex flex-col rounded  bg-white shadow-custom-beige"
>
  <img
    src={%
    block
    picture
    %}
    {%
    endblock
    %}
    alt="Picture card"
    width="400px"
    height="388px"
  />
  <section class="w-7 h-28 top-96 border border-solid border-light-dark">
    <p
      class="w-80 h-14 top-96 left-4 text-light-dark text-sm font-medium leading-normal"
    >
      {% block paragraph %} {% endblock %}
    </p>
    {% block title %}{% endblock %}
  </section>
</div>
