<button
  id="switch-button"
  class="bg-gray-200 border border-gray-200 items-center rounded-full w-20 h-8 transition duration-300 focus:outline-none shadow hidden xl:flex"
>
  <div
    id="switch-toggle"
    class="bg-light-white relative w-11 h-8 rounded-full transition duration-500 transform -translate-x-2 p-4 flex items-center"
  ></div>
</button>
