<div class="inline-flex items-center gap-5">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="35"
    viewBox="0 0 30 35"
    fill="none"
  >
    <path
      d="M6.66642 34.5002L13.3331 21.7502L-0.000244141 20.0502L19.9998 0.500244H23.3331L16.6664 13.2502L29.9998 14.9502L9.99976 34.5002H6.66642ZM15.9164 24.0027L22.6248 17.4577L11.4164 16.0127L14.0414 11.0402L7.37476 17.5852L18.5414 18.9877L15.9164 24.0027Z"
      fill="black"
    />
  </svg>
  <p
    class="text-light-dark xl:text-2xl font-medium leading-normal flex flex-col"
  >
    Votre comptre pro en un éclair
    <span class="text-sm xl:text-base"
      >Une création de compte en 10 minutes chrono.</span
    >
  </p>
</div>
