<div class="inline-flex items-center gap-5">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="31"
    viewBox="0 0 30 31"
    fill="none"
  >
    <path
      d="M15.3898 28.3641L13.4998 30.2186L11.2498 28.0109L8.99976 30.2186L6.74976 28.0109L4.49976 30.2186L2.24976 28.0109L-0.000244141 30.2186V0.781921L2.24976 2.98967L4.49976 0.781921L6.74976 2.98967L8.99976 0.781921L11.2498 2.98967L13.4998 0.781921L15.7498 2.98967L17.9998 0.781921L20.2498 2.98967L22.4998 0.781921L24.7498 2.98967L26.9998 0.781921V17.4873C26.0548 17.1634 25.0498 16.9721 23.9998 16.9721V5.19743H2.99976V25.8031H14.9998C14.9998 26.6421 15.1498 27.5988 15.3898 28.3641ZM4.49976 19.9158V22.8594H15.5248C15.9148 21.7556 16.4998 20.7694 17.3098 19.9158H4.49976ZM4.49976 16.9721H22.4998V14.0284H4.49976V16.9721ZM4.49976 11.0848H22.4998V8.1411H4.49976V11.0848ZM29.9998 23.198L28.2598 21.1227L22.8748 26.4066L20.4898 24.0664L18.7498 25.8031L22.8748 30.2186"
      fill="black"
    />
  </svg>
  <p
    class="text-light-dark xl:text-2xl font-medium leading-normal flex flex-col"
  >
    Vos devis et factures sous votre contrôle
    <span class="text-sm xl:text-base">hmmmm je sais pas quoi mettre ici</span>
  </p>
</div>
