<div class="inline-flex items-center gap-5">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="30"
    viewBox="0 0 30 25"
    fill="none"
  >
    <path
      d="M12.6737 17.969C13.2737 18.594 14.0486 18.9002 14.9985 18.8877C15.9484 18.8752 16.6484 18.5169 17.0983 17.8127L25.4976 4.68775L12.8987 13.4377C12.2237 13.9065 11.8678 14.6226 11.8308 15.5862C11.7938 16.5497 12.0747 17.344 12.6737 17.969ZM14.9985 0.000246121C16.4734 0.000246121 17.8923 0.21535 19.2552 0.645559C20.618 1.07577 21.8989 1.72004 23.0978 2.57837L20.2481 4.45337C19.4231 4.01066 18.5672 3.67889 17.6803 3.45806C16.7934 3.23722 15.8994 3.12629 14.9985 3.12525C11.6738 3.12525 8.84252 4.34243 6.50471 6.77681C4.16691 9.21118 2.99851 12.1607 2.99951 15.6252C2.99951 16.719 3.14349 17.7997 3.43147 18.8674C3.71945 19.9351 4.12541 20.9377 4.64937 21.8752H25.3476C25.9226 20.8857 26.3416 19.857 26.6045 18.7893C26.8675 17.7216 26.9985 16.6148 26.9975 15.469C26.9975 14.5315 26.891 13.62 26.678 12.7346C26.4651 11.8492 26.1466 10.9898 25.7226 10.1565L27.5225 7.18775C28.2724 8.4117 28.8664 9.71379 29.3043 11.094C29.7423 12.4742 29.9733 13.9065 29.9973 15.3909C30.0223 16.8752 29.8598 18.2945 29.5098 19.6487C29.1598 21.0028 28.6474 22.2919 27.9724 23.5159C27.6975 23.9846 27.3225 24.3492 26.8475 24.6096C26.3726 24.87 25.8726 25.0002 25.3476 25.0002H4.64937C4.12441 25.0002 3.62445 24.87 3.14949 24.6096C2.67453 24.3492 2.29956 23.9846 2.02459 23.5159C1.37464 22.344 0.874683 21.1002 0.524712 19.7846C0.174741 18.469 -0.000244141 17.0825 -0.000244141 15.6252C-0.000244141 13.4638 0.393723 11.4388 1.18166 9.55025C1.96959 7.6617 3.0445 6.00858 4.40639 4.59087C5.76828 3.17108 7.36114 2.05077 9.18499 1.22993C11.0088 0.409101 12.9467 -0.000795546 14.9985 0.000246121Z"
      fill="black"
    />
  </svg>
  <p
    class="text-light-dark xl:text-2xl font-medium leading-normal flex flex-col"
  >
    Un service client disponible et à l’écoute
    <span class="w-64 text-sm xl:text-base xl:w-auto"
      >Notre service client est disponible 5 jours/7 pour répondre à toutes vos
      questions et vous accompagner dans vos démarches
    </span>
  </p> 
</div>
