{% extends 'dashboard/base.html.twig' %}

{% block title %}
    Paramètres
{% endblock %}

{% block body %}
    <div class="pb-4 px-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
        <h1>paramètres</h1>

    </div>
{% endblock %}