<div class="flex flex-col justify-center items-center gap-6 w-64 h-52">
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.4167 64.1667L32.0833 42.2917L8.75 39.375L43.75 5.83334H49.5833L37.9167 27.7083L61.25 30.625L26.25 64.1667H20.4167ZM36.6042 46.1563L48.3438 34.9271L28.7292 32.4479L33.3229 23.9167L21.6562 35.1458L41.1979 37.5521L36.6042 46.1563Z"
      fill="#F9F9F9"
    />
  </svg>
  <span class="text-3xl font-bold leading-normal text-white">Efficacité</span>
  <p class="w-64 text-center text-sm font-medium leading-normal text-white">
    Créez vos factures et vos devis de la plus rapide des manières : un simple
    clic.
  </p>
</div>