<div class="flex flex-col justify-center items-center gap-6 w-64 h-52">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
  >
    <path
      d="M26.2502 58.3333L22.1668 54.25L27.271 49C21.0488 48.1736 15.9203 46.4722 11.8856 43.8958C7.85086 41.3194 5.8335 38.3542 5.8335 35C5.8335 30.9653 8.64079 27.526 14.2554 24.6823C19.87 21.8385 26.7849 20.4167 35.0002 20.4167C43.2154 20.4167 50.1304 21.8385 55.745 24.6823C61.3595 27.526 64.1668 30.9653 64.1668 35C64.1668 38.0139 62.5505 40.7118 59.3179 43.0937C56.0852 45.4757 51.8682 47.25 46.6668 48.4167V42.4375C50.4099 41.4653 53.2901 40.2621 55.3075 38.8281C57.3248 37.3941 58.3335 36.118 58.3335 35C58.3335 33.4444 56.2554 31.5972 52.0991 29.4583C47.9429 27.3194 42.2432 26.25 35.0002 26.25C27.7571 26.25 22.0575 27.3194 17.9012 29.4583C13.745 31.5972 11.6668 33.4444 11.6668 35C11.6668 36.1667 12.9064 37.5642 15.3856 39.1927C17.8647 40.8212 21.3891 42.0486 25.9585 42.875L22.1668 39.0833L26.2502 35L37.9168 46.6667L26.2502 58.3333Z"
      fill="#F9F9F9"
    />
  </svg>
  <span class="text-3xl font-bold leading-normal text-white"
    >Vision globale</span
  >
  <p class="w-64 text-center text-sm font-medium leading-normal text-white">
    Ayez une vision globale de l’état de votre entreprise grâce à nos rapports
    financiers détaillés.
  </p>
</div>
