{% extends 'base.html.twig' %}

{% block title %}Créer un Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un Nouvel Utilisateur</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}">Retour à la liste</a>
{% endblock %}
